@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ededed;
  --font-sans: Inter, system-ui, sans-serif;
}


/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to sure everything still looks the same.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  
  body {
    @apply bg-[var(--color-background)] text-white/90 antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
